/* 
    Document   : indexcss
    Created on : Sep 22, 2012, 5:59:43 PM
    Author     : NITIN
    Description:
        Main Landing Page for CI after Authentication.
*/

root { 
    display: block;
}
.seprator{
    color: white;
    background-color: #333333;
    border-radius: 100px;
}

.header{
    color: white;
    background-color: #333333;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;

}

.footer{
    color: white;
    background-color: #333333;
    border-bottom-left-radius:  100px;
    border-bottom-right-radius:  100px;
}
.buttonDiv{
    text-align: center;
}
.buttons{
    font-size:  xx-large;
    background-color: #333333;
    color: #99ccff;
    border-radius: 100px;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
}
.buttons:hover{
    background-color: black;
    color: #ff9900;
}

.appbuttonDiv{
    text-align: center;
}
.appbuttons{
	font-family: serif;
    font-size:  medium;
    background-color: whitesmoke;
    color: magenta;
    border-radius: 0px;
    padding: 5px 20px 5px 10px;
    cursor: pointer;
    border: 0px;
}
.appbuttons:hover{
    background-color: whitesmoke;
    color: orange;
}


#CITButton{
    position: absolute;
    left: 10%;
    top: 170px;
}
#CIMButton{
    position: absolute;
    left: 70%;
    top: 170px;
}

#CINButton{
    position: absolute;
    left: 10%;
    top: 430px;
}

#CIRButton{
    position: absolute;
    left: 70%;
    top: 430px;
}
#CICLDButton{
    position: absolute;
    left: 35%;
    top: 300px;
}