/* 
    Document   : CINReport
    Created on : Dec 2, 2012, 8:05:01 PM
    Author     : Nitin Anuj
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position:relative;
    background-color: grey;
    background-size: 100%;

}
html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* v Wrapper for Footer v */
#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 40px;   /* must be same height as the footer */
}  

#footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    width: 100%;
    left: 0px;
    clear:both;
} 

/*Opera Fix*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}

/* ^ Wrapper for Footer  ^ */

#header{
    background-color: #333333;
    font-family:"Times New Roman";
    height: 40px;
    width: 100%;
    font-size: 20px; 
    text-align:  left; 
    color: #99ccff;
}
#main{
}
#lmenu{
    position: absolute;
    top: 43px;
    height: 86%;
    width: 19.5%;
    background-color: #99ccff;
    color: black;
    overflow: auto;    
    border-style: solid;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
#MenuHeader{
    height:5%;
    width: 100%;
    background-color:  #333333;
    border-style: solid;
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#IPHeader{
    position: absolute;
    top: 43px;
    left: 20%;
    height: 8%;
    width: 80%;
    font-family:"Times New Roman";
    font-size: 20px;
    background-color: #99ccff;
    color: black;
    border-style: solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#graph{
    position: absolute;
    top: 102px;
    left: 20%;
    height: 77%;
    width: 80%;
    background-color: whitesmoke;
    /* background-color: white; */
    color: black;
    border-style: solid;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#footer{
    background-color: #333333;
    color:#99ccff;
    text-align: center;
}