@CHARSET "ISO-8859-1";

.layout {
	
		margin-bottom: 50px;
		margin-top: 100px;
		margin-left: 0px;
		margin-right: 0px;
		
		}
		
		.myButton {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
		
		
.round_txtflds{
	
	border-radius :4px;
	border-color: ;
	
	
	
}

#bkcolor
{
	
	background-color: red
	
	
}
		
.leftborder{
	
	border-style: solid;
	border-right-width: 20px;
	border-color: black;
	
}		


.automation_align_right
{
	
	width:80%;
	float: right;
	margin-top: 30px;
	margin-right: -100px;
	
}


.automation_align_controls
{
	width:80%;
	float: right;
	margin-top: 30px;
	margin-right: -250px;

	
	
}



.automation_align_left
{
	
	width:20%;
	float: left;
	
}



		
	
	
		
